---
name: pihole

services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    network_mode: host
    restart: unless-stopped
    cap_add:
      - SYS_TIME # set the host's system time for NTP
      - SYS_NICE # get some more processing time
      - NET_ADMIN
    env_file:
      - env/pihole.env
      - env/pihole_secrets.env
    volumes:
      - volume_pihole:/etc/pihole/
    healthcheck:
      disable: true

volumes:
  volume_pihole:
    external: true
