# GENERAL
TZ='{{ lookup("pipe", "timedatectl show -p Timezone | awk -F= '{print $2}'") }}'

# CONTAINER SPECIFIC
FTLCONF_dns_upstreams='{{ ansible_facts["default_ipv4"]["gateway"] }}'
FTLCONF_dns_piholePTR="NONE"
FTLCONF_dns_domainNeeded=true
FTLCONF_dns_dnssec=true
FTLCONF_dns_revServers='true,{{ ansible_facts["default_ipv4"]["network"] }}/{{ ansible_facts["default_ipv4"]["prefix"] }},{{ ansible_facts["default_ipv4"]["gateway"] }},{{ ansible_facts["dns"]["search"][0] }}'
FTLCONF_dns_domain_name='{{ ansible_facts["dns"]["search"][0] }}'
FTLCONF_dns_cache_optimizer=-1

FTLCONF_ntp_ipv4_active=false
FTLCONF_ntp_ipv6_active=false
FTLCONF_ntp_sync_active=false

FTLCONF_database_network_expire=1

FTLCONF_webserver_domain='{{ ansible_facts["dns"]["search"][0] }}'
FTLCONF_webserver_session_timeout=2592000
FTLCONF_webserver_interface_theme="default-darker"
FTLCONF_webserver_api_maxClients=32
